---
layout: default
bodyClass: page-services-list
---

<div class="intro"> 
  <div class="container">
    <h1 class="project-head">Projects</h1>
    <div class="row justify-content-center">
        <!-- {{ content }} -->
        <!-- <h1>Projects</h1> -->
        
        <div class="col-lg-4">
          <div class="center">
            <ul>
              <li class="booking-card" style="background-image: url(../images/projects/Project1.jpg)">
                <div class="book-container">
                  <div class="content">
                  </div>
                </div>
                <div class="informations-container">
                  <h2 class="title">Idu-Mishmi dictionary app</h2>
                    <div class="more-information">
                      <p class="disclaimer">An online and offline Idu-Mishmi dictionary (in Roman script) was launched which is available for download <a href="https://play.google.com/store/apps/details?id=imcls.dictionary.demo_flutter">here</a> </p>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </div>



        <div class="col-lg-4">
          <div class="center">
            <ul>
              <li class="booking-card" style="background-image: url(../images/projects/Project2.png)">
                <div class="book-container">
                  <div class="content">
                  </div>
                </div>
                <div class="informations-container">
                  <h2 class="title">Speech data with transcription + translation (on-going project)</h2>
                    <div class="more-information">
                      <p class="disclaimer">We are collecting speech data (5 hours per language) along with their transcription and translations in eight languages: 
                        Nyishi, Wancho, Galo, Tagin, Kaman, Taraon, Idu and Tangsa. These are the languages selected by the State Counsil of 
                        Educational Research and Training (SCERT) to be taught in schools as a 3rd language starting from 2022. 
                        The goal of this project is to create free and open-source digital content in these languages, which will serve as 
                        language resource for the community and can also help in building language technology tools.
                      </p>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="center">
            <ul>
              <li class="booking-card" style="background-image: url(../images/projects/Project1.jpg)">
                <div class="book-container">
                  <div class="content">
                  </div>
                </div>
                <div class="informations-container">
                  <h2 class="title">Story translation in Idu-Mishmi </h2>
                    <div class="more-information">
                      <p class="disclaimer">In collaboartion with <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-india/">Microsoft Research India</a>
                       and <a href="https://prathambooks.org/">Pratham books</a> we have tanslated 60 children's stories from English to Idu-Mishmi. These stories are available in Pratham book's <a href="https://storyweaver.org.in/">Storyweaver</a> platform.
                      </p>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </div>



    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% for service in site.services %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
